.spacer {
  flex: 1 1 auto;
}

.user-menu, .guest-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info {
  margin-right: 16px;
  font-weight: 500;
}

button.active {
  background-color: rgba(255, 255, 255, 0.1);
}

mat-icon {
  margin-right: 8px;
}